@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Log out Button === */

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 1.875em;
}

.icon-img-btn:hover {
    filter: invert(0.5);
}